
<div class="container">
	<h1>Stupid Coaching</h1>

	<div class="card my-3" id="ask">
		<p><%= @ask %></p>
		<p><em>-You</em></p>
	</div>

	<div class="card my-3" id="answer">
		<p><%= @answer %></p>
		<p><em>-Your coach</em></p>
	</div>
</div>