// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answer {
    border:none;
	background-color: #FFFBE1;
    border-left: 8px solid #DDDDDD;
}

#ask {
    border:none;
    border-left: 8px solid #DDDDDD;
}

.card {
	padding: 8px;
	
}